<!DOCTYPE html>
<html lang="en">
<head>
    <style type = "text/css">
    #tidal {
        text-align: center;
        color: red;
        background-color: blue;
        padding: 10px;
    }

    .action {
        background-color: LightBlue;
        text-align: center;
    }
    </style>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>text editor</title>
</head>
<body>

<h1 id="tidal">
    Text Editor
</h1>
<div class="container">
    <div class="row fill">
        <div class="col">
            <form action="/excitement" class="action">
                Speak with enthusiasm <br>

                <input type="text" name="t">
                <br><br>
                <button type="submit">submit text</button>
                <br><br>
            </form>
        </div>

        <div class="col">
            <form action="/CaseCheck" class = "action">
                Fix cases <br>

                <input type="text" name="t">
                <br><br>
                <button type="submit">submit text</button>
                <br><br>
            </form>
        </div>
    </div>
</div>


<div class="container">
    <div class="row fill">
        <div class="col">
            <form action="/sarcasm" class = "action">
                make sarcastic <br>

                <input type="text" name="t">
                <br><br>
                <button type="submit">submit text</button>
                <br><br>
            </form>
        </div>

        <div class="col">
            <form action="/CamelCase" class = "action">
                remove spaces <br>

                <input type="text" name="t">
                <br><br>
                <button type="submit">submit text</button>
                <br><br>
            </form>
        </div>
    </div>
</div>
</body>
</html>
