<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>text editor</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<h1>
    Text Editor
</h1>
<div class="container">
    <div class="row fill">
        <div class="col">
            <form action="/excitement">
                Speak with enthusiasm <br>

                <input type="text" name="t">
                <br><br>
                <button type="submit">submit text</button>
                <br><br>
            </form>
        </div>

        <div class="col">
            <form action="/CaseCheck">
                Fix cases <br>

                <input type="text" name="t">
                <br><br>
                <button type="submit">submit text</button>
                <br><br>
            </form>
        </div>
    </div>
</div>


<div class="container">
    <div class="row fill">
        <div class="col">
            <form action="/sarcasm">
                make sarcastic <br>

                <input type="text" name="t">
                <br><br>
                <button type="submit">submit text</button>
                <br><br>
            </form>
        </div>

        <div class="col">
            <form action="/CamelCase">
                remove spaces <br>

                <input type="text" name="t">
                <br><br>
                <button type="submit">submit text</button>
                <br><br>
            </form>
        </div>
    </div>
</div>
</body>
</html>
